.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-list-container {
  list-style-type: none;
  width: 100%;
}


@media (max-width: 768px) {
  .news-list-container {
    padding: 0;
  }
}
