.news-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  width: 80%;
  list-style-type: none;
  max-width: 600px;
}

.news-image {
  width: 100%;
  height: auto;
}

.news-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.news-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}
.news-content{
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

.news-link {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}


.news-published,
.news-source {
  font-size: 0.9em;
  color: #777;
}

.news-source a {
  color: #007bff;
  text-decoration: none;
}